.{
    width: 100;
    padding: 100;
    box-sizing: border-box;
}

body{
    background-image: url('fondo.jpg');
}
.form-register {
    width: 400px;
    background: #6cc23a;
    padding: 30px;
    margin: auto;
    margin-top: 200px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
    font-size: 22px;
    background:#6cc23a;
    padding: 20px;
}

.controls {
    width: 20%;
    background: #6cc23a;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #6cc23a;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a{
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register botons {
    width: 100%;
    background: #3a65c2;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}